
.Row
{
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column
{
  display: table-cell;
}

.center{
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  align: center;
  margin: 0px auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.link:hover {
  color: #36a1ff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #404040;*/
  color: #141414;
}

a {
  color: #00B7FF;
}

section{
  width: 500px;
  float: left;
  padding: 10px;
  margin: 10px;
  /*margin: 0;*/
  /*padding: 0;*/
  display: inline;
}

/*nav{*/
  /*background-color: #333;*/
  /*width: 150px;*/
  /*float: left;*/
  /*display: inline;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*margin-right: 10px;*/
/*}*/
.floatleft {
  float:left;
}
.floatright {
  float:right;
}

nav {
  background-color: #333;
  margin: 0;
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul div li {
  display: inline-block;
  list-style-type: none;
}

nav div li:hover {
  background-color: #666;
}

nav > ul > div > li > a {
  color: #ffffff;
  /*background-color:#FF0;*/
  display: block;
  line-height: 2em;
  padding: 1em 5em;
  text-decoration: none;
}

.error {
  color: #f5000b;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  /*position: relative;*/
  overflow: hidden;
  display: block;
  margin: auto; /*10px 1%;*/
  min-width: 230px;
  max-width: 415px;
  width: 100%;
  color: #000000;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1336 img {
   display:inline-block;
   vertical-align: middle;

   max-width: 100%;
  /*/vertical-align: top;*/
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #ffffff;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(54, 161, 255, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

figure {
  display: block;
  /*margin-top: 1em;*/
  /*margin-bottom: 1em;*/
  margin-left: 300px;
  margin-right: 300px;
}

