<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Hello</h1>
        <p>
            <!-- We're going to now talk to the GitHub API. Ready? -->
        </p>
        <input name="like" id="like" value="Login to Github" type="submit" onclick="location.href = '/login';"/>
    </body>
</html>
