<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <h1>Hello, {{user}}</h1>
        <p>
            We're going to now talk to the GitHub API. Ready?
        </p>
        <p>Login</p>
        <input name="like" id="like" value="logout" type="submit" onclick="location.href = '/';"/>
    </body>
</html>
