<div>
<h1>Github Visualisation</h1>

    <div>
    {{#if login}}
        <inpu name="like" id="like" value="Login to Github" type="submit" onclick="location.href = '/user/login';"/>
    {{/if}}
    </div>

    <div>
        <p>Enter a repo to pull (owner/reponame):</p>
    <form action="/repo"  method="post">
    Repo Name: <input type="text" name="repo" value=""><br>
    <input type="submit" value="Submit">
    </form>
    </div>

    <div>
    <p>Select one of the previous repos</p>
    <form action="/load" method="get">
    <select data-style="btn-info" name="repo">
        {{#each repos}}
            <option value={{path}}>{{path}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
    </form>
    </div>

</div>
