<h1>Github Visualisation</h1>

<input name="like" id="like" value="Login to Github" type="submit" onclick="location.href = '/user/login';"/>

<form action="/repo"  method="post">
    Repo Name: <input type="text" name="repo" value=""><br>
    <input type="submit" value="Submit">
</form>

<form action="/load" method="get">
    <select data-style="btn-info" name="repo">
        <optgroup label="Select Repo">
        <option value="pksunkara/octonode">Repo1</option>
        <option value="google/kubeflow">repo Google</option>
        <option value="test2">repo3</option>
        <option value="test3">repo4</option>
        </optgroup>
    </select>
    <input type="submit" value="Submit">
</form>
