<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <nav id="nav">
      <ul>
          <li><a href="/" >HOME</a></li>
          <li><a href="/user/profile" >Profile</a></li>
          <li><a href="/map" >Map</a></li>
          <li><a href="/about" >About</a></li>
      </ul>
  </nav>
   <div>
    {{{body}}}
   </div>
  </body>
</html>
