<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <nav id="nav">
      <ul>
          <div class="floatleft">
          <li><a href="/" >HOME</a></li>
          <li><a href="/user/profile" >Profile</a></li>
          <li><a href="/map" >Map</a></li>
          </div>
          <div class="floatright">
              {{#if auth}}
                  <li><a class="logout" href="/user/logout">Log out</a></li>
              {{/if}}
          </div>
      </ul>
  </nav>
    {{{body}}}
  </body>
</html>
